<% include partials/header %>
<div class="container">
  <h1 id="title" class="text-center">Pick A Place</h1>
</div>
<div class="choose">
  <h1 class="text-center">Choose one!</h1>
</div>
<div class="container">
  <div class="loading">
    <div class="spinner"></div>
  </div>
  <!--Search Page-->
  <div class="searchpage text-center">
    <button class="btn btn-default" id="search">Locate Me!</button>
    <input id="searchTextField" type="text" size="50">
  </div>
  
</div>
<% include partials/footer%>